Predict sales depending upon the adv bug spend upon TV,news paper and radio

In [15]:
import numpy as np                                # numpy is imported
import pandas as pd                               # pandas is imported
import matplotlib.pyplot as plt                   # matplotlib is imported
import seaborn as sns                             # seaborn is imported

import warnings                                   # warnings is imported 
warnings.filterwarnings('ignore')

In [16]:
df = pd.read_csv("https://raw.githubusercontent.com/ingledarshan/BoardInfinity/main/Sales.csv")            # reading dataset
df

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [17]:
df.drop('Unnamed: 0', axis=1,inplace=True)
df
# removing unwanted columns & using inplace=True for saving changes in original dataset

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [20]:
X=df.iloc[:,:-1] # selected all columns from dataframe except last one
X

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [21]:
y=df.iloc[:,-1] ## selected only lastcolumn from the dataframe
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test= train_test_split(X,y, test_size=0.2, random_state=100)

In [24]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [30]:
X_train = pd.DataFrame(X_train, columns=['TV', 'radio', 'newspaper'])
X_train

           TV     radio  newspaper
0    0.775229  0.029592   1.165328
1    0.338085 -0.523471  -1.311313
2    0.214759 -0.152514   0.707688
3    0.809363 -1.197938  -0.189646
4   -0.273036 -0.240195  -0.898539
..        ...       ...        ...
155 -0.377642  1.176187   1.416581
156  0.472421 -0.402067  -0.615879
157 -0.062722 -0.584173  -0.961353
158 -0.910584 -0.712322  -0.597933
159 -1.501884 -1.420512  -1.374126

[160 rows x 3 columns]

In [31]:
X_test = pd.DataFrame(X_test, columns=['TV', 'radio', 'newspaper'])
X_test

          TV     radio  newspaper
0  -1.510693  1.061527   0.851261
1   1.026284  0.751272  -1.181199
2  -0.107868  1.250378   0.640388
3   0.800554  0.697315   1.228141
4   1.064823  1.000825  -0.378086
5   0.680532 -1.211427  -0.548579
6  -0.063824 -0.597662  -0.270406
7   0.579230 -1.326087  -1.154279
8   0.786240  1.250378   0.357728
9   0.790644  1.398761  -0.198619
10 -0.306070 -0.570684  -1.176713
11  0.930486  0.616379   1.910115
12 -0.977752 -1.177704  -0.086452
13  0.471320 -0.139025  -0.992759
14 -0.636405 -0.766279  -0.256946
15 -0.559327 -1.231661  -1.055573
16  0.051794  0.838953  -1.149793
17  0.277523 -1.036066   0.160314
18  0.203748  0.919889  -1.086979
19 -0.353418 -0.388577   0.312861
20  0.767521  0.056571  -1.239526
21 -0.171733 -1.177704  -0.014666
22  0.555005  1.655058   0.954454
23  0.352399  0.690570   0.317348
24  0.439388 -0.145769  -0.431926
25  0.829183  1.742739  -1.275419
26  0.823678  0.697315   0.604494
27 -0.767438 -0.192982   0.039174
28  0.439388  1.398761  -1.342719
29 -0.241104  0.771506  -0.862646
30 -0.843415  1.439229   0.178261
31 -0.836809 -0.934896  -1.378613
32 -0.264227 -0.995598   0.766014
33  0.477927 -0.341365  -0.270406
34 -1.046021 -0.779768  -0.593446
35 -0.269733  0.360081  -0.781886
36 -0.526293 -1.460980  -0.072992
37  0.257703 -1.083279  -0.844699
38  0.852307 -1.332832  -0.831239
39  0.530780 -0.321131   1.528748

In [28]:
y_train

168    17.1
112    14.1
171    14.5
181    12.2
7      13.2
       ...
87     16.0
103    14.7
67     13.4
24      9.7
8       4.8
Name: sales, Length: 160, dtype: float64

In [29]:
y_test

126     6.6
104    20.7
99     17.2
92     19.4
111    21.8
167    12.2
116    12.2
96     11.7
52     22.6
69     22.3
164    11.9
124    19.7
182     8.7
154    15.6
125    10.6
196     9.7
194    17.3
177    11.7
163    18.0
31     11.9
11     17.4
73     11.0
15     22.4
41     17.1
97     15.5
128    24.7
133    19.6
82     11.3
139    20.7
123    15.2
83     13.6
65      9.3
151    11.6
162    14.9
170     8.4
77     14.2
32      9.6
173    11.7
174    11.5
85     15.2
Name: sales, dtype: float64

In [32]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()

regressor.fit(X_train,y_train)

LinearRegression()

In [34]:
y_pred = regressor.predict(X_test)
y_pred

array([10.50948755, 20.05723558, 16.82665516, 19.09405782, 20.94383845,
       13.25348896, 11.87554518, 12.4882643 , 20.51420388, 20.91328754,
       10.90182094, 19.44307823,  6.5040246 , 15.3178433 ,  9.04147699,
        8.03952046, 16.26581002, 12.10312044, 17.12086602, 11.28131376,
       17.07036157,  9.84452136, 20.70077487, 17.17479561, 15.19498306,
       21.96631309, 19.1587532 , 10.09216975, 19.40214482, 14.88180369,
       14.27844074,  7.69173892, 10.00183154, 14.82404891,  7.29177732,
       13.63453936,  7.59380446, 11.84106127, 13.61631336, 15.18810875])

In [35]:
# Evaluation

from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9184369032278497